
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0 !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

div.fb {
    position: relative;
}

div.fb:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255) 90%);
    width: 100%;
    height: 10em;
}

.nav-item a.nav-link {
    color: #2a2a2a;
    font-size: 1rem
}

.nav-item a.nav-link:hover {
    color: #0ea960 !important;
}

.navbar-brand.nb-right {

}

.bg-active {
    background-color: #0ea960;
}

.btn.btn-primary {
    background-color: #0ea960;
    border-color: transparent;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active {
    background-color: #0e9953;
    border-color: transparent;
}

.btn.btn-outline-primary:hover {
    background-color: #0e9953;
    color: #ffffff;
}

.btn.btn-outline-primary {
    border-color: #0ea960;
    color: #0ea960;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active {
    background-color: #0e9953;
    border-color: transparent;
}

.form-control:focus{
    border-color: #0e9953 !important;
}

.list-group-item.active {
    background-color: #0ea960;
    border-color: #0ea960;
}

@media (min-width: 1440px) {
    .container {
        max-width: 1360px;
    }
}